{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Stroop Task
{% endblock %}

{% block content %}
 <p> <strong> Instructions: </strong></p>

    <p>Welcome! For this job, you will be asked to solve as many Stroop problems as possible. In each problem, you will be presented with color words, such as blue, red, or green. The task is to name the color of the font the words are printed in, while ignoring the actual meaning of the word. For example, if you see the word "red" written in blue ink, as the example below, you should select the answer for blue.</p>
              <!--            <stroop_instruction_image here>-->
    <p>There will be two rounds, each lasting 15 seconds. In each round, you will receive $0.10 for each correct answer. After completing two rounds of the task, you will be asked to complete a questionnaire, and receive an overview of the number of correct answers and your total payoff.
    </p></br>

        <h1><font color = blue> {{ text_displayed_this_round.0 }} </font></h1>
        <br/>
        {% formfield player.word1 %}

        <h1> <font color = blue> {{ text_displayed_this_round.1 }} </font></h1>
        <br/>
        {% formfield player.word2 %}

        <h1> <font color = green>{{ text_displayed_this_round.2 }} </font></h1>
        <br/>
        {% formfield player.word3 %}

        <h1> <font color = blue> {{ text_displayed_this_round.3 }} </font></h1>
        <br/>
        {% formfield player.word4 %}

        <h1> <font color = red> {{ text_displayed_this_round.4 }} </font></h1>
        <br/>
        {% formfield player.word5 %}

        <h1> <font color = purple> {{ text_displayed_this_round.5 }} </font></h1>
        <br/>
        {% formfield player.word6 %}

        <h1> <font color = green> {{ text_displayed_this_round.6 }} </font></h1>
        <br/>
        {% formfield player.word7 %}

        <h1> <font color = purple> {{ text_displayed_this_round.7 }} </font></h1>
        <br/>
        {% formfield player.word8 %}

        <h1> <font color = blue> {{ text_displayed_this_round.8 }} </font></h1>
        <br/>
        {% formfield player.word9 %}

        <h1> <font color = red> {{ text_displayed_this_round.9 }} </font></h1>
        <br/>
        {% formfield player.word10 %}

        <h1><font color = blue> {{ text_displayed_this_round.10 }} </font></h1>
        <br/>
        {% formfield player.word11 %}

        <h1> <font color = red> {{ text_displayed_this_round.11 }} </font></h1>
        <br/>
        {% formfield player.word12 %}

        <h1> <font color = purple>{{ text_displayed_this_round.12 }} </font></h1>
        <br/>
        {% formfield player.word13 %}

        <h1> <font color = blue> {{ text_displayed_this_round.13 }} </font></h1>
        <br/>
        {% formfield player.word14 %}

        <h1> <font color = green> {{ text_displayed_this_round.14 }} </font></h1>
        <br/>
        {% formfield player.word15 %}

        <h1> <font color = red> {{ text_displayed_this_round.15 }} </font></h1>
        <br/>
        {% formfield player.word16 %}

        <h1> <font color = red> {{ text_displayed_this_round.16 }} </font></h1>
        <br/>
        {% formfield player.word17 %}

        <h1> <font color = green> {{ text_displayed_this_round.17 }} </font></h1>
        <br/>
        {% formfield player.word18 %}

        <h1> <font color = purple> {{ text_displayed_this_round.18 }} </font></h1>
        <br/>
        {% formfield player.word19 %}

        <h1> <font color = green> {{ text_displayed_this_round.19 }} </font></h1>
        <br/>
        {% formfield player.word20 %}

    {% next_button %}

{% endblock %}