{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Start Page - Stroop Task
{% endblock %}

{% block content %}
    <p> This is the Stroop game. You will now play the SECOND round of the same game.  The rules are the same.</p>
    <p> Remember you will have 15 seconds to complete as many problems as possible and you will be paid $0.10 for each correct answer.</p>

    <br/><p>Press the button when you are ready to begin. </p>
    {% next_button %}

{% endblock %}