{% extends "global/Page.html" %}
{% load otree static %}


{% block title %}
<h6><center><font color = red><strong>LOYOLA MARYMOUNT UNIVERSITY</strong></font></center></h6>
<h3><strong><center>Experimental Subjects Bill of Rights</center></strong></h3>
{% endblock %}



{% block content %}
<br/><br/>
<p>Pursuant to California Health and Safety Code §24172, I understand that I have the following rights as a participant in a research study:</p>
<br/>

<p>1.	I will be informed of the nature and purpose of the experiment.</p>
<br/>

<p>2.	I will be given an explanation of the procedures to be followed in the medical experiment, and any drug or device to be utilized.</p>
<br/>

<p>3.	I will be given a description of any attendant discomforts and risks to be reasonably expected from the study.</p>
<br/>

<p>4.	I will be given an explanation of any benefits to be expected from the study, if applicable.</p>
<br/>

<p>5.	I will be given a disclosure of any appropriate alternative procedures, drugs or devices that might be advantageous and their relative risks and benefits.</p>
<br/>

<p>6.	I will be informed of the avenues of medical treatment, if any, available after the study is completed if complications should arise.</p>
<br/>

<p>7.	I will be given an opportunity to ask any questions concerning the study or the procedures involved.</p>
<br/>

<p>8.	I will be instructed that consent to participate in the research study may be withdrawn at any time and that I may discontinue participation in the study without prejudice to me.</p>
<br/>

<p>9.	I will be given a copy of the signed and dated written consent form.</p>
<br/>

<p>10.	I will be given the opportunity to decide to consent or not to consent to the study without the intervention of any element of force, fraud, deceit, duress, coercion, or undue influence on my decision.</p>
<br/><br/>


    {% formfields %}
    {% next_button %}

{% endblock %}
