{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    <strong> Loyola Marymount University </strong>
    <strong> Informed Consent Form </strong>
{% endblock %}

{% block content %}
<br/><br/>

<h6><strong>TITLE:</strong></h6>
<p>An Experiment in Economic-Decision Making </p>
<br/>

<h6><strong>INVESTIGATOR:</strong></h6>
<p>Prachi Jain and Michelle M. Miller, Department of Economics, Loyola Marymount University, Prachi.Jain@lmu.edu, and 310-338-7803. </p>
<br/>


<h6><strong>PURPOSE:</strong></h6>
<p>You are being asked to participate in a research project that seeks to investigate which is designed to test economic decision-making.  You will be asked to complete surveys and tasks that will last at most 1 hour. </p>
<br/>


<h6><strong>RISKS:</strong></h6>
<p>Risks associated with this study include: There are no risks and discomforts involved with this study. </p>
<br/>


<h6><strong>BENEFITS:</strong></h6>
<p>I understand that the possible benefits of the study are that I will earn money and that this exposure to economic principles may inspire further interest in the field.  </p>
<br/>


<h6><strong>INCENTIVES:</strong></h6>
<p>You can earn money based on your decisions in the study. Participation in the project will require no monetary cost to you. </p>
<br/>


<h6><strong>CONFIDENTIALITY:</strong></h6>
<p>We will collect subjects’ names and some demographic information in connected with the data. Your name will never be used in any public dissemination of these data (publications, presentations, etc.). All research materials and consent forms will be stored on LMU Box, which is encrypted and suitable for storing confidential data, with user permissions restricted solely to the PIs. The data with names and subject IDs will not be shared electronically or in any other form. When the research study ends, any identifying information will be removed from the data, or it will be destroyed. All of the information you provide will be kept confidential. </p>
<br/>


<h6><strong>RIGHT TO WITHDRAW:</strong></h6>
<p>Your participation in this study is <i>voluntary</i>. You may withdraw your consent to participate at any time without penalty. Your withdrawal will not influence any other services to which you may be otherwise entitled, your class standing or relationship with Loyola Marymount University. </p>
<br/>


<h6><strong>SUMMARY OF RESULTS:</strong></h6>
<p>A summary of the results of this research will be supplied to you, at no cost, upon request. Prachi Jain – Prachi.Jain@lmu.edu, 310-338-7803 and Michelle M. Miller – Michelle.Miller@lmu.edu, 310-338-1811. The summary should be available in approximately 1 year from now.  </p>
<br/>

<h6><strong>VOLUNTARY CONSENT:</strong></h6>
<p>I have read the above statements and understand what is being asked of me.  I also understand that my participation is voluntary and that I am free to withdraw my consent at any time, for any reason, without penalty. If the study design or use of the information is changed I will be informed and my consent reobtained. On these terms, I certify that I am willing to participate in this research project. </p>
<br/><br/><br/>


<p>I understand that if I have any further questions, comments or concerns about the study or the
informed consent process, I may contact Dr. David Moffet, Chair, Institutional Review Board,
Loyola Marymount University, 1 LMU Drive, Los Angeles, CA  90045-2659 or by email at
    David.Moffet@lmu.edu. </p>
<br/>

<p>[<strong>Note:</strong> If both boxes are not checked then unfortunately you may not participate in the study.  If both boxes are checked then you will receive an electronic copy of the agreement and be taken to a website with the task and questionnaire.]
</p><br/>

    {% formfields %}
    {% next_button %}


{% endblock %}
