{% extends "global/Page.html" %}
<!--{% load otree static %}-->
{% load staticfiles otree_tags %}

{% block title %}
    <strong> Round {{ subsession.round_number }} of {{ Constants.num_rounds }} </strong> - Summation Grid Task
{% endblock %}

{% block content %}
    <p> <strong> Instructions: </strong></p>

    <p>Welcome! For this job, you will be asked to solve as many Summing Digits problems as possible.  In each problem, you will be presented with a 3x3 grid, with each cell containing a number with two decimal places.  You must identify the two numbers in the grid that add up to 10.0 exactly.  For example, if you are presented with a grid that includes the numbers 9.7 and 0.3, you would input 9.7 and 0.3 since the two numbers add up exactly to 10.0.</p>

    <p>There will be two rounds, each lasting 2 minutes. In each round, you will receive [$0.10] for each correct answer. After completing two rounds of the task, you will receive an overview of the number of correct answers and your total payoff. </p>


<img src="{{ STATIC_URL }}{{ image_path }}"/>


    {% formfields %}
    {% next_button %}


{% endblock %}
